.Weather form {
  display: block;
  margin-top: 0em;
}
.Weather h1 {
  font-size: 50px;
  text-align: left;
  font-weight: 100;
  margin-bottom: 0;
  color: black;
}

.Weather ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  text-align: left;
}

.Weather .weather-app-container-wrapper {
  margin: 30px auto;
  margin-bottom: 10px;
}

.Weather .weather-app-container {
  padding: 30px;
  border: 1px solid f9fcfb;
  border-radius: 5px;
  background-color: #fcfcfc;
}

.Weather .weather-icon {
  text-align: center;
}

.WeatherTemperature .temperature {
  color: black;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
  padding-left: 25px;
}

.WeatherTemperature .unit {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.WeatherInfo .description.text-capitalize {
  color: a3a3a3;
  padding-left: 25px;
}
