.Weather form {
  display: block;
  margin-top: 0em;
}
.Weather h1 {
  font-size: 50px;
  text-align: left;
  font-weight: 100;
  margin-bottom: 0;
}

.Weather ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.Weather .weather-app-container-wrapper {
  margin: 30px auto;
  margin-bottom: 10px;
}

.Weather .weather-app-container {
  padding: 30px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.Weather .todays-temperature {
  text-align: center;
  margin: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Weather .todays-temperature strong {
  font-size: 70px;
  line-height: 1;
  font-weight: lighter;
  color: black;
}

.Weather .todays-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .description {
  padding: 0px 62px;
}

.Weahter canvas {
  text-align: center;
}

.Weather .weather-icon {
  text-align: center;
}

.WeatherTemperature .temperature {
  color: #212121;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.WeatherTemperature .unit {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.WeatherInfo .text-capitalize {
  color: rgb(14, 5, 5);
}
